* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: small;
}
button {
  cursor: pointer;
  outline: none;
  border: 0 solid transparent;
  box-shadow: 0 0 0 transparent;
  text-shadow: 0 0 0 transparent;
}
nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 60px;
}
nav > ul {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
nav > ul > li {
  list-style-type: none;
  margin-right: 20px;
}
.nav-link {
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-link[alt="Google apps"] > img {
  float: left;
  object-fit: contain;
  width: 15px;
  opacity: 0.6;
}
.nav-link[alt="Google account"] > div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: cornflowerblue;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  min-height: 550px;
}
main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
main > div > span {
  margin-top: 30px;
}
.language-link {
  text-decoration: none;
  margin-left: 5px;
}
.language-link:hover {
  text-decoration: underline;
}
#google-logo-img {
  object-fit: contain;
  flex: 0;
  transition: width 0.5s ease-out;
}
#search-form > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-form > div > button {
  border: 1px solid rgb(247, 247, 247);
  background: rgb(247, 247, 247);
  border-radius: 5px;
  padding: 7px 15px;
  margin: 0 5px;
  color: rgb(83, 83, 83);
  font-size: 15px;
  transition: 0.1s ease-out;
}
#search-form > div > button:hover {
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0 1px 1px 0px rgb(202, 202, 202);
}
#search-form > div > img {
  position: absolute;
  left: 0;
  object-fit: contain;
  width: 15px;
  margin-left: 20px;
  opacity: 0.6;
}
#search-form > div > input {
  outline: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 25px;
  width: 550px;
  height: 45px;
  padding: 0 50px;
  margin: 30px 0;
  font-size: 17px;
}
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 80px;
  background: rgb(243, 242, 240);
}
footer > div {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  font-size: 14px;
  border-top: 1px solid rgb(221, 221, 221);
  min-height: 40px;
  padding-left: 30px;
}
footer > div:nth-child(2) > ul {
  display: flex;
  align-items: center;
}
footer > div:nth-child(2) > ul > li {
  list-style-type: none;
  margin-right: 30px;
}
.footer-link {
  text-decoration: none;
  color: gray;
}
.footer-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  footer > div:nth-child(2) {
    flex-direction: column-reverse;
  }
  footer > div:nth-child(2) > ul {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 600px) {
  #search-form > div > input {
    width: 85vw;
  }
} /*
@media only screen and (max-height: 600px) {
  footer {
    position: absolute;
  }
}*/
@media only screen and (max-height: 500px) {
  #google-logo-img {
    width: 200px;
  }
}
